@model task_presentation.Models.Material.PaginaInfo

@{
    ViewBag.Title = "ListaMateriais";
    var ListaMateriais = Model.ComboMateriais;
    int contador = 1;
}

<style>
    .apertar:hover {
        cursor: pointer
    }

    .tabela {
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        width: 100%
    }

    .tabela thead tr {
        background-color: lightgray;
        color: gray;
        text-align: left;
    }

    .tabela th,
    .tabela td {
        padding: 12px 15px;
    }

    .tabela tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .tabela tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .tabela tbody tr:last-of-type {
        border-bottom: 2px solid lightgray;
    }

    .btn-icon:focus {
        outline: none;
        box-shadow: none;
    }

    .thick {
        font-weight: bold;
        font-size: 24px;
    }
</style>

<table class="tabela col-lg-6 col-sm-12">
    <thead>
        <tr>
            <th class="col-lg-1" style="text-align: center">&nbsp;</th>
            <th class="col-lg-7" style="text-align: center">Nome</th>
            <th class="col-lg-2" style="text-align: center">Editar</th>
            <th class="col-lg-2" style="text-align: center">Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registro in ListaMateriais) {
            <tr>
                <td style="text-align: center">@contador</td>
                <td style="text-align: center" id="td-@registro.ID">@registro.DS_NOME</td>
                <td style="text-align: center" id="btn-@registro.ID" class="apertar" onclick="editarRegistro('@registro.ID', '@registro.DS_NOME')"><i class="fa-solid fa-pen-to-square"></i></td>
                <td style="text-align: center" class="apertar" onclick="excluirRegistro('@registro.ID')"><i class="fa-solid fa-trash"></i></td>
            </tr>
         contador++;
         }
    </tbody>
</table>

@Scripts.Render("~/bundles/jquery")
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<script>
    var sendoEditado = false;

    function editarRegistro(id, texto) {
        if (!sendoEditado) {
            sendoEditado = true;
            $('#td-' + id).html('<input class="input" id="input-' + id + '" type="text" style="text-align:center" value="' + texto + '" />');


            $('#btn-' + id).removeAttr('onclick');
            $('#btn-' + id).attr('onclick', 'salvarEdicaoRegistro(' + id + ')');
            $('#btn-' + id).html('<i class="fa-solid fa-check"></i>');
        }
    }

    function salvarEdicaoRegistro(id) {
        console.log(id);
        let novoValor = $('#input-' + id).val();
        console.log(novoValor);

        if (novoValor.length < 5) {
            console.log('erro');
            return;
        }

        $.ajax({
            url: '@Url.Action("EditarMaterial", "Material")',
            data: {
                tipoMaterial: '@Model.TituloPagina',
                id: id,
                novoNome: novoValor
            },
            type: "POST",
            success: function (response) {
                $('#td-' + id).html(novoValor);
                $('#btn-' + id).html('<i class="fa-solid fa-pen-to-square"></i>');
                
            },
            error: function (xhr, status, error) {
                console.log('erro2');
            }
        });


    }
</script>
